.DS_Store
.idea
.mf
.tmp
node_modules
dist

# wrangler build artifacts
test/fixtures/wrangler/rust/pkg
test/fixtures/wrangler/rust/target
test/fixtures/wrangler/rust/worker/generated
test/fixtures/wrangler/webpack/worker
